repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-yaml
  - id: check-ast
  - id: fix-encoding-pragma
- repo: https://github.com/pycqa/flake8
  rev: '7.0.0'
  hooks:
  - id: flake8
