name: bump-version
on:
  push:
    branches: [master]
jobs:
  call-pre-commit:
    uses: ./.github/workflows/pre-commit.yaml
  # build-linux-binary:
  #   needs: call-pre-commit
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Package acestream-search Linux application
  #       uses: sayyid5416/pyinstaller@v1
  #       with:
  #         python_ver: '3.11'
  #         spec: 'acestream_search.spec'
  #         requirements: 'requirements.txt'
  #         exe_path: 'dist/linux'
  #         upload_exe_with_name: 'acestream-search-linux'
  # build-windows-binary:
  #   needs: call-pre-commit
  #   runs-on: windows-latest
  #   steps:
  #     - name: Package acestream-search Windows application
  #       uses: sayyid5416/pyinstaller@v1
  #       with:
  #         python_ver: '3.11'
  #         spec: 'acestream_search.spec'
  #         requirements: 'requirements.txt'
  #         exe_path: 'dist/windows'
  #         upload_exe_with_name: 'acestream-search-windows'
  # tag-and-release:
  #   needs: [build-linux-binary, build-windows-binary]
  #   permissions:
  #     contents: write
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Bump version and push tag
  #       id: tag_version
  #       uses: mathieudutour/github-tag-action@v6.1
  #       with:
  #         github_token: ${{ secrets.GITHUB_TOKEN }}
  #     - uses: actions/download-artifact@v3
  #     - run: cd acestream-search-linux && chmod +x acestream-search && tar czvf "acestream-search-linux-binary-${{ steps.tag_version.outputs.new_tag }}.tar.gz" acestream-search
  #     - run: cd acestream-search-windows && zip "acestream-search-windows-binary-${{ steps.tag_version.outputs.new_tag }}.zip" acestream-search.exe
  #     - name: Create a GitHub release
  #       uses: ncipollo/release-action@v1
  #       with:
  #         tag: ${{ steps.tag_version.outputs.new_tag }}
  #         name: Release ${{ steps.tag_version.outputs.new_tag }}
  #         body: ${{ steps.tag_version.outputs.changelog }}
  #         artifacts: 'acestream-search-linux/acestream-search-linux-binary-${{ steps.tag_version.outputs.new_tag }}.tar.gz,acestream-search-windows/acestream-search-windows-binary-${{ steps.tag_version.outputs.new_tag }}.zip'
  #         artifactErrorsFailBuild: true
